@model Incedo_Octavius_Demo_2.Models.ProfileStatusModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProfileStatusModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProfileStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProfileStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.count)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.count)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProfileStatusID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
