@model IEnumerable<Incedo_Octavius_Demo_2.Models.ProfileStatusModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProfileStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.count)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProfileStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.count)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProfileStatusID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProfileStatusID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProfileStatusID })
        </td>
    </tr>
}

</table>
