@model IncedoReservoir.Areas.InventoryServices.Models.InventoryDashboardViewModel
@{foreach (var item in Model.lstTreeNodeList.Where(s => s.iParentID == 0).Distinct().ToList())
    {
        <li>
            @*<a href="@Url.Action("Index", @item.sFileName)">*@
            <a href="#">
                <i class="@item.sCssClassName"></i>
                <span> @item.sDescription</span>
            </a>
            <ul>
                @{foreach (var firstItem in (Model.lstTreeNodeList.Where(s => s.iParentID == item.iPrivilegeID).ToList()))
                    {
                        <li>
                            <a href="@Url.Action("Index", @firstItem.sFileName)">
                                <i class="@firstItem.sCssClassName"></i>
                                &nbsp;&nbsp;   <span> @firstItem.sDescription</span>
                                <div style="height:2px;"></div>
                            </a>
                        </li>
                    }
                }
            </ul>
        </li>
                    }
}