@model IncedoReservoir.Areas.InventoryServices.Models.DeviceDefaultValueViewModel

@{
    Layout = "~/Areas/InventoryServices/Views/Shared/_InventoryServices_Layout.cshtml";
    ViewBag.Title = "Inventory Services";
    string errorMessage = ViewBag.ErrorMessage;
    string errorclass = "has-error";
    if (string.IsNullOrEmpty(errorMessage))
    {
        errorclass = string.Empty;
    }
}

@section scripts {
    <script type="text/javascript">

        $(document).ready(function () {
            $('#tblDeviceInfo').DataTable({
                "paging": true, searching: false,
                "bFilter": false,
                "bLengthChange": true,
                "order": [],
                "columnDefs": [{ orderable: false, targets: -1 }]
            });
        });

        $(document).ready(function () {
            $('#txtActiveDateAdd').datepicker({
                autoclose: true,
                format: "dd/mm/yyyy"
            });

            $('#txtActiveDateEdit').datepicker({
                autoclose: true,
                format: "dd/mm/yyyy"
            });

            $(document).keypress(function (event) {
                var keycode = (event.keyCode ? event.keyCode : event.which);
                if (keycode == '13') {
                    $('#btnSearch').click();
                }
            });

        });


        $(document).ready(function () {
            $('#txtPasswordTwoAdd').keyup(function () {
                $('#strength_messagetwoadd').html(checkStrength($('#txtPasswordTwoAdd').val(), '#strength_messagetwoadd'))
            })

            $('#txtPasswordOneAdd').keyup(function () {
                $('#strength_messageoneadd').html(checkStrength($('#txtPasswordOneAdd').val(), '#strength_messageoneadd'))
            })

            $('#txtPasswordOneEdit').keyup(function () {
                $('#strength_messageoneedit').html(checkStrength($('#txtPasswordOneEdit').val(), '#strength_messageoneedit'))
            })

            $('#txtPasswordTwoEdit').keyup(function () {
                $('#strength_messagetwoedit').html(checkStrength($('#txtPasswordTwoEdit').val(), '#strength_messagetwoedit'))
            })

            function checkStrength(password, controlname) {
                var strength = 0
                if (password.length < 6) {
                    $('' + controlname + '').removeClass()
                    $('' + controlname + '').addClass('text-danger pull-right')
                    return 'To Short Password Detected !!'
                }
                var pattern = new RegExp("[-0-9a-zA-Z.+]+@@[-0-9a-zA-Z.+]+\.[a-zA-Z]{2,4}");
                if (password.length > 7) strength += 1
                if (password.match(/([a-z].*[A-Z])|([A-Z].*[a-z])/)) strength += 1
                if (password.match(/([a-zA-Z])/) && password.match(/([0-9])/)) strength += 1
                if (password.match(/([!,%,&,@@,#,$,^,*,?,_,~])/)) strength += 1
                if (password.match(pattern)) strength += 1
                if (strength < 2) {
                    $('' + controlname + '').removeClass()
                    $('' + controlname + '').addClass('text-danger pull-right')
                    return 'Week Password Detected !!'
                }
                else if (strength == 2) {
                    $('' + controlname + '').removeClass()
                    $('' + controlname + '').addClass('text-orange pull-right')
                    return 'Good Combination Detected In Password, Try More !!'
                }
                else {
                    $('' + controlname + '').removeClass()
                    $('' + controlname + '').addClass('text-green pull-right')
                    return 'Strong & Perfect Combination In Password Detected !!'
                }
            }
        });

        function checkuserEdit() {
            var txtDeviceNameEditVal = $("#txtDeviceNameEdit").val();

            if ($("#txtDeviceNameEdit").val() === "" || $("#txtDeviceNameEdit").val() === null) {
                $('#deviceEditErrorMsg').show();
                $('#deviceEditErrorMsg').text('Device Name cant be empty, Please enter valid Device Name !!');
                return false;
            }

            if ($("#txtDeviceNameEdit").val().trim() != $("#hdDeviceNameEdit").val().trim()) {

                $.ajax({
                    url: '@Url.Action("ValidateDeviceName", "DeviceManagement")',
                    data: { strDeviceName: txtDeviceNameEditVal },
                    cache: false,
                    type: "GET",
                    dataType: "html",
                    success: function (data) {
                        if (data != 0 && data > 0) {
                            $('#deviceEditErrorMsg').show();
                            $('#deviceEditErrorMsg').text('Device Name already exist ! Please try with different Device Name !');
                            return true;
                        }
                        else {
                            $('#deviceEditErrorMsg').hide();
                            $('#deviceEditErrorMsg').text('');
                            return true;
                        }
                    }
                });
            }
        }

        $('#btnSearch').on('click', function (evt) {
            evt.preventDefault();

            var sDeviceNameVal = $("#txtDeviceNameSearch").val();
            var iServiceIdVal = $("select#ddlServiceNameSearch option:selected").val()
            var iLocationIdVal = $("select#ddlLocationNameSearch option:selected").val()

            $('#serachErrorMsg').hide();
            $.ajax({
                url: '@Url.Action("DeviceDetails", "DeviceManagement")',
                data: { iDeviceId: 0, iServiceId: iServiceIdVal, iLocationId: iLocationIdVal, sDeviceName: sDeviceNameVal, iAction: 1 },
                cache: false,
                type: "GET",
                dataType: "html",
                success: function (data, textStatus, XMLHttpRequest) {
                    $('#UsersDetailsRender').html(data);
                }
            });
            evt.stopPropagation();
        });

        function checkuser() {
            var deviceName = $("#txtDeviceNameAdd").val();

            if ($("#txtDeviceNameAdd").val() === "" || $("#txtDeviceNameAdd").val() === null) {
                $('#deviceAddErrorMsg').show();
                $('#deviceAddErrorMsg').text('Device Name cant be empty, Please enter valid Device Name !!');
                return false;
            }

            $.ajax({
                url: '@Url.Action("ValidateDeviceName", "DeviceManagement")',
                data: { strDeviceName: deviceName },
                cache: false,
                type: "GET",
                dataType: "html",
                success: function (data) {
                    if (data != 0 && data > 0) {
                        $('#deviceAddErrorMsg').show();
                        $('#deviceAddErrorMsg').text('Device Name already exist ! Please try with different Device Name !');
                        $("#btnAddDevice").attr("disabled", true);
                        return false;
                    }
                    else {

                        $('#deviceAddErrorMsg').hide();
                        $('#deviceAddErrorMsg').text('');
                        $("#btnAddDevice").attr("disabled", false);
                        return true;
                    }
                }
            });
        }

        function editSaveDeviceDetails(obj) {

            if ($("select#ddlServiceNameEdit option:selected").val() === "0" || $("select#ddlServiceNameEdit option:selected").val() === null) {
                $('#deviceEditErrorMsg').show();
                $('#deviceEditErrorMsg').text('Please select Device Service Name !!');
                return false;
            }

            if ($("#txtDeviceNameEdit").val() === "" || $("#txtDeviceNameEdit").val() === null) {
                $('#deviceEditErrorMsg').show();
                $('#deviceEditErrorMsg').text('Enter Valid Alpha Numeric Device Name only !!');
                return false;
            }

            if ($("#txtPasswordEdit").val() === "" || $("#txtPasswordEdit").val() === null) {
                $('#deviceAddErrorMsg').show();
                $('#deviceAddErrorMsg').text('Enter Valid & Strong Password !!');
                return false;
            }

            if ($("select#ddlLocationNameEdit option:selected").val() === "0" || $("select#ddlLocationNameEdit option:selected").val() === null) {
                $('#deviceEditErrorMsg').show();
                $('#deviceEditErrorMsg').text('Please select Device Service Location !!');
                return false;
            }

            if ($("select#ddlDeviceStatusEdit option:selected").val() === "0" || $("select#ddlDeviceStatusEdit option:selected").val() === null) {
                $('#deviceEditErrorMsg').show();
                $('#deviceEditErrorMsg').text('Please select Device Status !!');
                return false;
            }

            if ($("#txtActiveDateEdit").val() === "" || $("#txtActiveDateEdit").val() === null) {
                $('#deviceEditErrorMsg').show();
                $('#deviceEditErrorMsg').text('Enter valid Device Activation Date !!');
                return false;
            }

            if ($("#txtRemarksEdit").val() === "" || $("#txtRemarksEdit").val() === null) {
                $('#deviceEditErrorMsg').show();
                $('#deviceEditErrorMsg').text('Enter valid reason to update Device details !!');
                return false;
            }

            var jsonStringVal = '{"RecordId": "' + $("#hdDeviceIdToEdit").val()
                                    + '", "ServiceId":"' + $("select#ddlServiceNameEdit option:selected").val()
                                    + '", "ServiceId":"' + $("select#ddlServiceNameEdit option:selected").val()
                                    + '", "DeviceName": "' + $("#txtDeviceNameEdit").val()
                                       + '", "DeviceUserName": "' + $("#txtDeviceUserNameEdit").val()
                                   + '", "PasswordOne": "' + $("#txtPasswordOneEdit").val()
                                     + '", "PasswordTwo": "' + $("#txtPasswordTwoEdit").val()
                                    + '", "LocationId": "' + $("select#ddlLocationNameEdit option:selected").val()
                                    + '", "DeviceStatusId":"' + $("select#ddlDeviceStatusEdit option:selected").val()
                                    + '", "ActiveDate":"' + $("#txtActiveDateEdit").val()
                                    + '", "Remarks": "' + $("#txtRemarksEdit").val()
                                    + '", "UserId":1'
                                    + ', "Action":2'
                                    + "}"
            $.ajax({
                type: "POST",
                url: '@Url.Action("SaveDeviceDetails")',
                data: jsonStringVal,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    location.reload();
                },
                error: function (error) {
                    alert('error; ' + eval(error));
                },
            });
        }



        function addDeviceDetails(obj) {

            if ($("select#ddlServiceNameAdd option:selected").val() === "0" || $("select#ddlServiceNameAdd option:selected").val() === null) {
                $('#deviceAddErrorMsg').show();
                $('#deviceAddErrorMsg').text('Please select Device Service Name !!');
                return false;
            }

            if ($("#txtDeviceNameAdd").val() === "" || $("#txtDeviceNameAdd").val() === null) {
                $('#deviceAddErrorMsg').show();
                $('#deviceAddErrorMsg').text('Enter Valid Alpha Numeric Device Name only !!');
                return false;
            }

            if ($("#txtDeviceUserNameAdd").val() === "" || $("#txtDeviceUserNameAdd").val() === null) {
                $('#deviceAddErrorMsg').show();
                $('#deviceAddErrorMsg').text('Enter Valid Device User Name only !!');
                return false;
            }

            if ($("#txtPasswordOneAdd").val() === "" || $("#txtPasswordOneAdd").val() === null) {
                $('#deviceAddErrorMsg').show();
                $('#deviceAddErrorMsg').text('Enter Valid & Strong Password One !!');
                return false;
            }

            if ($("select#ddlLocationNameAdd option:selected").val() === "0" || $("select#ddlLocationNameAdd option:selected").val() === null) {
                $('#deviceAddErrorMsg').show();
                $('#deviceAddErrorMsg').text('Please select Device Service Location !!');
                return false;
            }

            if ($("select#ddlDeviceStatusAdd option:selected").val() === "0" || $("select#ddlDeviceStatusAdd option:selected").val() === null) {
                $('#deviceAddErrorMsg').show();
                $('#deviceAddErrorMsg').text('Please select Device Status !!');
                return false;
            }

            if ($("#txtActiveDateAdd").val() === "" || $("#txtActiveDateAdd").val() === null) {
                $('#deviceAddErrorMsg').show();
                $('#deviceAddErrorMsg').text('Enter valid Device Activation Date !!');
                return false;
            }

            var jsonStringVal = '{"RecordId":"0'
                                    + '", "ServiceId":"' + $("select#ddlServiceNameAdd option:selected").val()
                                    + '", "ServiceId":"' + $("select#ddlServiceNameAdd option:selected").val()
                                    + '", "DeviceName": "' + $("#txtDeviceNameAdd").val()
                                    + '", "DeviceUserName": "' + $("#txtDeviceUserNameAdd").val()
                                    + '", "PasswordOne": "' + $("#txtPasswordOneAdd").val()
                                    + '", "PasswordTwo": "' + $("#txtPasswordTwoAdd").val()
                                    + '", "LocationId": "' + $("select#ddlLocationNameAdd option:selected").val()
                                    + '", "DeviceStatusId":"' + $("select#ddlDeviceStatusAdd option:selected").val()
                                    + '", "ActiveDate":"' + $("#txtActiveDateAdd").val()
                                    + '", "Remarks": "' + $("#txtRemarksAdd").val()
                                    + '", "UserId":1'
                                    + ', "Action":1'
                                    + "}"
            $.ajax({
                type: "POST",
                url: '@Url.Action("SaveDeviceDetails")',
                data: jsonStringVal,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    location.reload();
                    //fnShowMessageBox("Rank Weightage Management", "<br/>Default Rank Attribute Weightages have been set successfully!<br /> <br/> Expert Portal Team", 1, function abc() { }, null);
                },
                error: function (error) {
                    alert('error; ' + eval(error));
                },
            });
        }

    </script>
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <script type="text/javascript" src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"> </script>
}


<style>
    .black_overlay {
        position: fixed;
        background-color: rgb(0,0,0); /* Black fallback color */
        background-color: rgba(53, 47, 47, 0.9); /*rgba(0,0,0, 0.9);*/ /* Black w/opacity */
        overflow-x: hidden; /* Disable horizontal scroll */
        transition: 0.5s;
        background-repeat: repeat;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1000000;
    }

    .white_content {
        display: none;
        position: fixed;
        background-color: rgb(0,0,0); /* Black fallback color */
        background-color: rgba(53, 47, 47, 0.9); /*rgba(0,0,0, 0.9);*/ /* Black w/opacity */
        overflow-x: hidden; /* Disable horizontal scroll */
        transition: 0.5s;
        background-repeat: repeat;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1000000;
        border: 2px solid orange;
        margin-top: 30px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 50%;
        height: 585px;
        background-color: white;
    }
</style>

<div class="content-wrapper">
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-warning" style="margin: 0px;">
                    <div class="box-header with-border">
                        <h3 class="box-title">Incedo Devices Details</h3>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-xs-2">
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-12 control-label" style="padding-top: 5px;">Service Name :</label>
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <select id="ddlServiceNameSearch" name="ddlServiceNameSearch" class="form-control">
                                    <option value="0">--ALL--</option>
                                    @foreach (var item in @Model.lstMasterService)
            {
                                    <option value=@item.ServiceId>@item.ServiceName</option>
                                    }
                                </select>
                            </div>

                            <div class="col-xs-2">
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-12 control-label" style="padding-top: 5px;">Device Name :</label>
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <input type="text" id="txtDeviceNameSearch" name="txtDeviceNameSearch" class="form-control" maxlength="10" tabindex="5" />
                            </div>

                            <div class="col-xs-2">
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-12 control-label" style="padding-top: 5px;">Location :</label>
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <select id="ddlLocationNameSearch" name="ddlLocationNameSearch" class="form-control">
                                    <option value="0">--ALL--</option>
                                    @foreach (var item in @Model.lstMasterLocation)
            {
                                    <option value=@item.LocationId>@item.LocationName</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <button id="btnAddNewDevice" onclick="document.getElementById('dvDeviceAdd').style.display='block';document.getElementById('fade').style.display='block'" class="btn btn-success pull-left" style="margin-right: 20px;"><i class="fa fa-plus"></i><span class="btnSpace">Add New Device</span></button>
                        <span class="text-danger" id="serachErrorMsg" style="display:none;">Please enter User Login Name to search the Application User Details.</span>


                        <button id="btnSearch" class="btn btn-warning pull-right" style="margin-right: 20px;"><i class="fa fa-search"></i><span class="btnSpace">Search</span></button>
                    </div>
                </div>
            </div>
        </div>

        @*@if (Model.lstMasterService != null && Model.lstMasterService.Count < 1)
            {
                <div class="row">
                    <div class="col-md-12">
                        <div class="box " style="border-top: 2px solid #05731c;">
                            <div class="box-body">

                                    <div class="alert alert-danger">
                                        <h4><i class="icon fa fa-ban"></i>Alert !</h4>
                                     @Session["UserName"].ToString() : None Of The Service Assigned To You. Please Connect With System Administrator !!
                                    </div>

                            </div>
                        </div>
                    </div>
                </div>

                                        }*@

        <div class="row">
            <div class="col-md-12">
                <div class="box " style="border-top: 2px solid #05731c;">
                    <div class="box-body">
                        <div id="UsersDetailsRender">
                            @{
                                    Html.RenderAction("DeviceDetails");
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div id="dvDeviceEdit" class="white_content">
    <div style="margin: 0px;">
        <div class="box-header with-border" style="border-bottom-color:green; border-bottom:dashed;border-width:2px;">
            <h3 class="box-title">View Edit Device Details</h3>
            <img class="pull-right" src="~/content/Images/closepop.jpeg" style="cursor:pointer; height:30px; width:30px;margin-top:-5px;" onclick="document.getElementById('dvDeviceEdit').style.display = 'none'; document.getElementById('fade').style.display = 'none'" />
        </div>
        <div class="box-body">

        </div>
        <div class="box-body">
            <div class="row" style="height:2px;"></div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="lblsgn" class="col-sm-12 control-label" style="padding-top: 5px;"><i class="fa fa-hand-o-right"></i> Service Name :</label>
                    </div>
                </div>

                <div class="col-md-6">
                    <select id="ddlServiceNameEdit" name="ddlServiceNameEdit" class="form-control">
                        <option value="0">--Select Service--</option>
                        @foreach (var item in @Model.lstMasterService)
            {
                            <option value=@item.ServiceId>@item.ServiceName</option>
                        }
                    </select>

                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="lblsgn" class="col-sm-12 control-label" style="padding-top: 5px;"><i class="fa fa-hand-o-right"></i> Device Name :</label>
                    </div>
                </div>

                <div class="col-md-6">
                    <input type="text" id="txtDeviceNameEdit" onblur="return checkuserEdit();" name="txtDeviceNameEdit" class="form-control" maxlength="30" />
                    <input type="hidden" id="hdDeviceNameEdit" name="hdDeviceNameEdit" class="form-control" />
                    <input type="hidden" id="hdDeviceIdToEdit" name="hdDeviceIdToEdit" class="form-control" />
                </div>
            </div>

            <div class="row" style="height:6px;">
                <div class="col-md-6">

                </div>

                <div class="col-md-6">
                    <span class="text-danger pull-right" style="font-size:smaller; font-style:italic; font-weight:bolder" id="userAddErrorMsg11">Enter valid alpha numeric Device Name only !!</span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="lblsgn" class="col-sm-12 control-label" style="padding-top: 5px;"><i class="fa fa-hand-o-right"></i> Device User Name :</label>
                    </div>
                </div>

                <div class="col-md-6">
                    <input type="text" id="txtDeviceUserNameEdit" name="txtDeviceUserNameEdit" class="form-control" maxlength="30" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="lblsgn" class="col-sm-12 control-label" style="padding-top: 5px;"><i class="fa fa-hand-o-right"></i> Device Password One:</label>
                    </div>
                </div>

                <div class="col-md-6">
                    <input type="text" id="txtPasswordOneEdit" name="txtPasswordOneEdit" class="form-control" maxlength="30" />
                </div>
            </div>

            <div class="row" style="height:6px;">
                <div class="col-md-6">
                </div>
                <div class="col-md-6">
                    <span class="text-danger pull-right" id="strength_messageoneedit" style="font-size:smaller; font-style:italic; font-weight:bolder">Make Strong Device Password One !!</span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="lblsgn" class="col-sm-12 control-label" style="padding-top: 5px;"><i class="fa fa-hand-o-right"></i> Device Password Two :</label>
                    </div>
                </div>

                <div class="col-md-6">
                    <input type="text" id="txtPasswordTwoEdit" name="txtPasswordTwoEdit" class="form-control" maxlength="30" />
                </div>
            </div>

            <div class="row" style="height:6px;">
                <div class="col-md-6">
                </div>
                <div class="col-md-6">
                    <span class="text-danger pull-right" id="strength_messagetwoedit" style="font-size:smaller; font-style:italic; font-weight:bolder">Make Strong Device Password One !!</span>
                </div>
            </div>


            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="lblsgn" class="col-sm-12 control-label" style="padding-top: 5px;"><i class="fa fa-hand-o-right"></i> Location :</label>
                    </div>
                </div>

                <div class="col-md-6">
                    <select id="ddlLocationNameEdit" name="ddlLocationNameEdit" class="form-control">
                        <option value="0">--Select Location--</option>
                        @foreach (var item in @Model.lstMasterLocation)
            {
                            <option value=@item.LocationId>@item.LocationName</option>
                        }
                    </select>

                </div>
            </div>


            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="lblsgn" class="col-sm-12 control-label" style="padding-top: 5px;"><i class="fa fa-hand-o-right"></i> Device Status :</label>
                    </div>
                </div>

                <div class="col-md-6">
                    <select class="form-control" id="ddlDeviceStatusEdit" name="ddlDeviceStatusEdit">
                        <option value="0">--Select Device Status--</option>
                        <option value="1">On-Line</option>
                        <option value="2">Off-Line</option>
                    </select>
                </div>
            </div>


            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="lblsgn" class="col-sm-12 control-label" style="padding-top: 5px;"><i class="fa fa-hand-o-right"></i> Active Date :</label>
                    </div>
                </div>

                <div class="col-md-6">
                    <input type="text" id="txtActiveDateEdit" placeholder="dd/mm/yyyy" name="txtActiveDateEdit" class="form-control" maxlength="30" />
                </div>
            </div>


            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="lblsgn" class="col-sm-12 control-label" style="padding-top: 5px;"><i class="fa fa-hand-o-right"></i> Remark :</label>
                    </div>
                </div>

                <div class="col-md-6">
                    <input type="text" id="txtRemarksEdit" name="txtRemarksEdit" class="form-control" maxlength="300" />
                </div>
            </div>
        </div>

        <div class="box-footer">
            <button id="btnEditSave" onclick="return editSaveDeviceDetails(this);" class="btn btn-success pull-right" style="margin-right: 20px;"><i class="fa fa-save"></i><span class="btnSpace">Save</span></button>

            <button id="btnEditClose" class="btn btn-danger pull-left" style="margin-left: 20px;" onclick="document.getElementById('dvDeviceEdit').style.display = 'none'; document.getElementById('fade').style.display = 'none'"><i class="fa fa-times"></i><span class="btnSpace">Cancel</span></button>
            <span class="text-dange pull-right" id="deviceEditErrorMsg" style="display:none;margin-right: 20px;margin-top:15px;"></span>
        </div>
    </div>
</div>

<div id="dvDeviceAdd" class="white_content">
    <div style="margin: 0px;">
        <div class="box-header with-border" style="border-bottom-color:green; border-bottom:dashed;border-width:2px;">
            <h3 class="box-title">Enter New Device Details</h3>
            <img class="pull-right" src="~/content/Images/closepop.jpeg" style="cursor:pointer; height:30px; width:30px;margin-top:-5px;" onclick="document.getElementById('dvDeviceAdd').style.display = 'none'; document.getElementById('fade').style.display = 'none'" />
        </div>
        <div class="box-body">
            <div class="row" style="height:2px;"></div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="lblsgn" class="col-sm-12 control-label" style="padding-top: 5px;"><i class="fa fa-hand-o-right"></i> Service Name :</label>
                    </div>
                </div>

                <div class="col-md-6">
                    <select id="ddlServiceNameAdd" name="ddlServiceNameAdd" class="form-control">
                        <option value="0">--Select Service--</option>
                        @foreach (var item in @Model.lstMasterService)
            {
                            <option value=@item.ServiceId>@item.ServiceName</option>
                        }
                    </select>

                </div>
            </div>


            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="lblsgn" class="col-sm-12 control-label" style="padding-top: 5px;"><i class="fa fa-hand-o-right"></i> Device Name :</label>
                    </div>
                </div>

                <div class="col-md-6">
                    <input type="text" id="txtDeviceNameAdd" onblur="return checkuser();" name="txtDeviceNameAdd" class="form-control" maxlength="30" />
                </div>
            </div>

            <div class="row" style="height:6px;">
                <div class="col-md-6">

                </div>

                <div class="col-md-6">
                    <span class="text-danger pull-right" style="font-size:smaller; font-style:italic; font-weight:bolder" id="userAddErrorMsg11">Enter valid alpha numeric Device Name only !!</span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="lblsgn" class="col-sm-12 control-label" style="padding-top: 5px;"><i class="fa fa-hand-o-right"></i> Device User Name :</label>
                    </div>
                </div>

                <div class="col-md-6">
                    <input type="text" id="txtDeviceUserNameAdd" name="txtDeviceUserNameAdd" class="form-control" maxlength="30" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="lblsgn" class="col-sm-12 control-label" style="padding-top: 5px;"><i class="fa fa-hand-o-right"></i> Device Password One:</label>
                    </div>
                </div>

                <div class="col-md-6">
                    <input type="text" id="txtPasswordOneAdd" name="txtPasswordOneAdd" class="form-control" maxlength="30" />
                </div>
            </div>

            <div class="row" style="height:6px;">
                <div class="col-md-6">
                </div>
                <div class="col-md-6">
                    <span class="text-danger pull-right" id="strength_messageoneadd" style="font-size:smaller; font-style:italic; font-weight:bolder">Make Strong Device Password One !!</span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="lblsgn" class="col-sm-12 control-label" style="padding-top: 5px;"><i class="fa fa-hand-o-right"></i> Device Password Two :</label>
                    </div>
                </div>

                <div class="col-md-6">
                    <input type="text" id="txtPasswordTwoAdd" name="txtPasswordTwoAdd" class="form-control" maxlength="30" />
                </div>
            </div>

            <div class="row" style="height:6px;">
                <div class="col-md-6">
                </div>
                <div class="col-md-6">
                    <span class="text-danger pull-right" id="strength_messagetwoadd" style="font-size:smaller; font-style:italic; font-weight:bolder">Make Strong Device Password One !!</span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="lblsgn" class="col-sm-12 control-label" style="padding-top: 5px;"><i class="fa fa-hand-o-right"></i> Location :</label>
                    </div>
                </div>

                <div class="col-md-6">
                    <select id="ddlLocationNameAdd" name="ddlLocationNameAdd" class="form-control">
                        <option value="0">--Select Location--</option>
                        @foreach (var item in @Model.lstMasterLocation)
            {
                            <option value=@item.LocationId>@item.LocationName</option>
                        }
                    </select>

                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="lblsgn" class="col-sm-12 control-label" style="padding-top: 5px;"><i class="fa fa-hand-o-right"></i> Device Status :</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <select class="form-control" id="ddlDeviceStatusAdd" name="ddlDeviceStatusAdd">
                        <option value="0">--Select Device Status--</option>
                        <option value="1">On-Line</option>
                        <option value="2">Off-Line</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="lblsgn" class="col-sm-12 control-label" style="padding-top: 5px;"><i class="fa fa-hand-o-right"></i> Active Date :</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <input type="text" id="txtActiveDateAdd" placeholder="dd/mm/yyyy" name="txtActiveDateAdd" class="form-control" maxlength="30" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="lblsgn" class="col-sm-12 control-label" style="padding-top: 5px;"><i class="fa fa-hand-o-right"></i> Remark :</label>
                    </div>
                </div>
                <div class="col-md-6">
                    <input type="text" id="txtRemarksAdd" name="txtRemarksAdd" class="form-control" maxlength="300" />
                </div>
            </div>
        </div>

        <div class="box-footer">
            <button id="btnAddDevice" onclick="return addDeviceDetails(this);" class="btn btn-success pull-right" disabled style="margin-right: 20px;"><i class="fa fa-save"></i><span class="btnSpace">Save</span></button>
            <button id="btnclose" class="btn btn-danger pull-left" style="margin-left: 20px;" onclick="document.getElementById('dvDeviceAdd').style.display='none';document.getElementById('fade').style.display='none'"><i class="fa fa-times"></i><span class="btnSpace">Cancel</span></button>
            <span class="text-danger pull-right" id="deviceAddErrorMsg" style="display:none;margin-right: 20px;margin-top:15px;"></span>
        </div>
    </div>
</div>


