@{
    ViewData["Title"] = "Home Page";
}



<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>



    <div class="container-fluid text-center" style="color:black">
        <h1 class="display-4">Octavius</h1>



        <form action="~/Controllers/KOL_Image/Index" method="post" >
            <div class="row mb-3">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="inputEmail3">
                </div>
            </div>
            <div class="row mb-3">
                <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="inputPassword3">
                </div>
            </div>
            <fieldset class="row mb-3">
                <legend class="col-form-label col-sm-2 pt-0">LoginPage</legend>
                <div class="col-sm-10">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                        <label class="form-check-label" for="gridRadios1">

                        </label>
                        <h2>
                            @Html.ActionLink("Oncology", "Index", "Oncology", routeValues: null, htmlAttributes: new { @class = "btn btn-outline-info btn-lg", @role = "button" })
                        </h2>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                        <label class="form-check-label" for="gridRadios2">

                        </label>
                        <h2>
                            @Html.ActionLink("Hematology", "Index", "Hematology", routeValues: null, htmlAttributes: new { @class = "btn btn-outline-info btn-lg", @role = "button" })
                        </h2>
                    </div>
                    <div class="form-check disabled">



                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3">
                        <label class="form-check-label" for="gridRadios3">

                        </label>
                        <h2>
                            @Html.ActionLink("Business User", "Index", "BusinessUserHome", routeValues: null, htmlAttributes: new { @class = "btn btn-outline-info btn-lg", @role = "button" })
                        </h2>
                    </div>
                </div>
            </fieldset>

        </form>










        <div class="row container-fluid">
            <div class="col-md-6 d-flex align-items-center justify-content-center" style="background-color: #2161a2; padding: 50px ">
                <h2>
                    @Html.ActionLink("Medical Reps", "Index", "KOL_Image", routeValues: null, htmlAttributes: new { @class = "btn btn-outline-info btn-lg", @role = "button" })
                </h2>
            </div>



            <div class="col-md-6 d-flex align-items-center justify-content-center" style="background-color: #2161a2; padding: 50px ">
                <h2>
                    @Html.ActionLink("Business User", "Index", "BusinessUserHome", routeValues: null, htmlAttributes: new { @class = "btn btn-outline-info btn-lg", @role = "button" })
                </h2>



            </div>



        </div>



    </div>
    <div class="container">



        <img class="img-fluid"
             src="~/Content/img/pexels-andrea-piacquadio-3760089.jpg">



        <div class="img-overlay">

            <button class="btn btn-primary" onclick="location.href='https://localhost:44342/KOL_Image' " background-size:100%></button>



        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>