@model IncedoReservoir.Models.ServiceAccountUserPrivilegeViewModel
@{
//string UserName = (Session["UserName"] != null) ? Session["UserName"].ToString() : "";
}

@{
    Layout = "~/Views/Shared/_SwitchBoard_Layout.cshtml";
    ViewBag.Title = "Switch Board";


    string errorMessage = ViewBag.ErrorMessage;
    string errorclass = "has-error";
    if (string.IsNullOrEmpty(errorMessage))
    {
        errorclass = string.Empty;
    }
}

        <div style="margin-top:5%;margin-left:10%;margin-right:10%;">
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-warning" style="margin: 0px;max-height:500px;">
                        <div class="box-header with-border" style="text-align:left">
                            <h3 class="box-title">
                                <i class="fa fa-angle-double-right"></i>&nbsp;<span style="font-weight:bolder">@Session["UserName"] </span> Welcome To <span style="color:#f24700; font-weight:bolder">Incedo </span> Reservoir Services Switch Board !!
                            </h3>
                        </div>

                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-12">
                                    @{
                                if (Model != null)
                                {
                                    if (Model.lstServiceAccountUserPrivilege != null)
                                    {
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="box " style="border-top: 2px solid #05731c;">
                                            <div class="box-header with-border" style="background-color:#E8E8E8">
                                                <h3 class="box-title" style="color:#FF4500;font-style:italic;">&nbsp;&nbsp; <i class="fa fa-hand-o-right"></i> &nbsp;&nbsp; Services & Navigation Links</h3>
                                            </div>
                                            <div class="box-body">
                                                <table id="tblCustomerInfo" class="tblConedInfo table table-bordered table-striped table-hover">
                                                    <thead>
                                                        <tr>

                                                            <th>Navigation Link</th>
                                                            <th>Service Id</th>
                                                            <th>Description</th>
                                                            <th>Version</th>
                                                            <th>Access Status</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @{
                                                                        foreach (var mod in Model.lstServiceAccountUserPrivilege)
                                                                        {
                                                                    <tr>
                                                                        @*<td style="width:35px;">
                                                                                <ul class="sidebar-menu">
                                                                                    <li>
                                                                                        <img src="~/Images/Admin/@mod.sServiceLogo" style="height:30px; width:30px;" />
                                                                                    </li>
                                                                                </ul>
                                                                            </td>*@
                                                                        @if (mod.iPrivilegeGroup != 0)
                                                                                {
                                                                                <td>@Html.ActionLink(@mod.sServiceStartURL, "Index", "DashBoard", new { area = @mod.sServiceStartURL, serviceID = @mod.iServiceDefinitionID }, null)</td>

                                                                                <td>@mod.sServiceName</td>
                                                                                <td>@mod.sServiceDescription</td>
                                                                                <td>@mod.sServiceVersionNo</td>
                                                                                <td><span style="color:#4CAF50"> <i class="fa fa-thumbs-up"></i>&nbsp;&nbsp; Authorised To Access</span></td>
                                                                                }
                                                                                else
                                                                                {
                                                                                <td>@mod.sServiceStartURL</td>

                                                                                <td>@mod.sServiceName</td>
                                                                                <td>@mod.sServiceDescription</td>
                                                                                <td>@mod.sServiceVersionNo</td>
                                                                                <td><span style="color:#FF4500"><i class="fa fa-thumbs-down"></i>&nbsp;&nbsp; Not Authorised To Access</span> </td>
                                                                                }
                                                                    </tr>


                                                                        }
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                                                            }
                                                                        }
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="box-footer">
                            @{ using (Html.BeginForm("SessionLogOut", "Login", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                        {
                    @Html.AntiForgeryToken()
                    <button id="btnExit" onclick="javascript:document.getElementById('logoutForm').submit()" class="btn btn-danger pull-right" style="margin-right: 20px;font-size:15px;"><i class="fa fa-sign-out"></i><span class="btnSpace">&nbsp;&nbsp;Sign Off From Incedo Reservoir</span></button>
                        }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
   
