@model IncedoReservoir.Areas.AdminServices.Models.PrivilegeGroupMainModel

@{
    Layout = "~/Areas/AdminServices/Views/Shared/_AdminServices_Layout.cshtml";
    ViewBag.Title = "Admin Services";
    string errorMessage = ViewBag.ErrorMessage;
    string errorclass = "has-error";
    if (string.IsNullOrEmpty(errorMessage))
    {
        errorclass = string.Empty;
    }
}


@{
    string UserName = (Session["UserName"] != null) ? Session["UserName"].ToString() : "";
}

<style>
    .black_overlay {
        position: fixed;
        background-color: rgb(0,0,0); /* Black fallback color */
        background-color: rgba(53, 47, 47, 0.9); /*rgba(0,0,0, 0.9);*/ /* Black w/opacity */
        overflow-x: hidden; /* Disable horizontal scroll */
        transition: 0.5s;
        background-repeat: repeat;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1000000;
    }

    .white_content {
        display: none;
        position: fixed;
        background-color: rgb(0,0,0); /* Black fallback color */
        background-color: rgba(53, 47, 47, 0.9); /*rgba(0,0,0, 0.9);*/ /* Black w/opacity */
        overflow-x: hidden; /* Disable horizontal scroll */
        transition: 0.5s;
        background-repeat: repeat;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1000000;
        border: 2px solid orange;
        margin-top: -35px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 70%;
        height: 600px;
        background-color: white;
    }
</style>


<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
<script type="text/javascript" src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"> </script>



@section scripts {
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $('#txtSearchGroupName').keypress(function (e) {
                var regex = new RegExp("^[0-9a-zA-Z-]+$");
                var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);
                if (regex.test(str)) {
                    return true;
                }
                e.preventDefault();
                return false;
            });
        });

        $(document).ready(function () {
            $('#txtSearchGroupName').keypress(function (e) {
                if (e.keyCode == 13)
                    $('#btnSearch').click();
            });

            $('#tblCustomerInfo').DataTable(
                {
                    searching: false,
                    "bFilter": false,
                    "bLengthChange": true,
                    "order": [],
                    "columnDefs": [{ orderable: false, targets: -1 }]
                });

        });


        jQuery(document).ready(function ($) {
            $('#txtPrivilegeGroupName').keypress(function (e) {
                var regex = new RegExp("^[0-9a-zA-Z-]+$");
                var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);
                if (regex.test(str)) {
                    return true;
                }
                e.preventDefault();
                return false;
            });
        });

        $(document).ready(function () {
            $('#txtPrivilegeGroupName').keypress(function (e) {
                if (e.keyCode == 13)
                    $('#btnadd').click();
            });
        });



        $('#btnSearch').on('click', function (evt) {
            evt.preventDefault();
            evt.stopPropagation();
            var strSearchGroupName = $("#txtSearchGroupName").val();
            if (strSearchGroupName == "") {
                $.ajax({
                    url: '@Url.Action("PrivilegeGroupList", "PrivilegeGroup")',
                    data: { sSearchGroupName: "", iAction: 2 },
                    cache: false,
                    type: "GET",
                    dataType: "html",
                    success: function (data) {
                        $('#PrivilegeGroupDetails').html(data);
                        $('#searchErrorMsg').show();
                        $('#searchErrorMsg').text('Please enter any of search criteria to get Privilege Group information !!');
                        $("#searchErrorMsg").css("alert alert-danger");
                    }
                });
                return true;
            }
            else {
                $.ajax({
                    url: '@Url.Action("PrivilegeGroupList", "PrivilegeGroup")',
                    data: { sSearchGroupName: strSearchGroupName, iAction: 2 },
                    cache: false,
                    type: "GET",
                    dataType: "html",
                    success: function (data) {
                        $('#PrivilegeGroupDetails').html(data);
                        $('#searchErrorMsg').hide();
                        $('#searchErrorMsg').text('');
                        $("#searchErrorMsg").css("alert alert-success");
                    }
                });
            }
        });

        function checkPrivilegeNameAdd() {
            var txtPrivilegeGroupName = $("#txtPrivilegeGroupName").val();

            if (txtPrivilegeGroupName == "") {
                return true;
            }
            $.ajax({
                url: '@Url.Action("ValidatePrivilegeGroupName", "PrivilegeGroup")',
                data: { strPrivilegeGroupName: txtPrivilegeGroupName },
                cache: false,
                type: "GET",
                dataType: "html",
                success: function (data) {
                    if (data != 0 && data > 0) {
                        $('#addErrorMsg').show();
                        $("#btnadd").attr("disabled", true);
                        $('#addErrorMsg').text('Privilege Group Name already exist ! Please try with different Privilege Group Name !');
                        return true;
                    }
                    else {
                        $('#addErrorMsg').hide();
                        $("#btnadd").attr("disabled", false);
                        $('#addErrorMsg').text('');
                        return true;
                    }
                }
            });

        }

        function AddPrivilegeGroup() {
            var txtPrivilegeGroupName = $('#txtPrivilegeGroupName').val();

            var checkedVals = $('.AddCheck:checkbox:checked').map(function () {
                return this.value;
            }).get();

            var masterServiceAddCheckVals = $('.MasterServiceAddCheck:checkbox:checked').map(function () {
                return this.value;
            }).get();


            var chkbox = checkedVals.join(",");
            if (chkbox == null || chkbox == "") {
                $('#addErrorMsg').show();
                $('#addErrorMsg').text('Please check / select atleast one Privilege Level to create new  Privilege Group !!');
                $("#addErrorMsg").css("alert alert-danger");
                return false;
            }
            else {
                $('#addErrorMsg').hide();
                $('#addErrorMsg').text('');
                $("#addErrorMsg").css("alert alert-sucess");
            }

            var masterServiceChkbox = masterServiceAddCheckVals.join(",");
            if (masterServiceChkbox == null || masterServiceChkbox == "") {
                $('#addErrorMsg').show();
                $('#addErrorMsg').text('Please check / select atleast one Master Service sto create new  Privilege Group !!');
                $("#addErrorMsg").css("alert alert-danger");
                return false;
            }
            else {
                $('#addErrorMsg').hide();
                $('#addErrorMsg').text('');
                $("#addErrorMsg").css("alert alert-sucess");
            }

            $.ajax({
                type: "POST",
                url: '@Url.Action("AddPrivilegeGroup", "PrivilegeGroup")',
                data: '{"SGN":"' + txtPrivilegeGroupName + '","Checkval":"' + chkbox + '","MasterServiceCheckval":"' + masterServiceChkbox + '"}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    document.getElementById('lightAdd').style.display = 'none';
                    document.getElementById('fade').style.display = 'none'
                    $('#txtPrivilegeGroupName').val('');
                    $('#addErrorMsg').hide();
                    $('#addErrorMsg').text('');

                    $('#searchErrorMsg').show();
                    $('#searchErrorMsg').text('Greetings !! Privilege Group' + txtPrivilegeGroupName + ' added successfully !!');
                    $("#searchErrorMsg").css("alert alert-success");
                    location.reload();
                },
                error: function (response) {
                    $('#addErrorMsg').show();
                    //$("#btnadd").attr("disabled", true);
                    $('#addErrorMsg').text('There is some issue with data save !');
                    $('#searchErrorMsg').show();
                    $('#searchErrorMsg').text('There is some issue while adding New Privilege Group, Please connect with SUpport Team !!');
                    $("#searchErrorMsg").css("alert alert-danger");
                }
            });
        }


        function editPrivilegeGroup(e) {
            document.getElementById('lightEdit').style.display = 'block';
            document.getElementById('fade').style.display = 'block';
            var gid = e.dataset.id;
            $.ajax({
                type: "POST",
                url: '@Url.Action("EditPrivilegeGroup", "PrivilegeGroup")',
                data: '{"id":"' + gid + '"}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    var d = response.CheckValue;
                    $(".EditCheck").prop('checked', false);
                    if (d != null || d != undefined) {
                        d = d.substring(0, d.length - 1)
                        var f = d.split(",");
                        jQuery.each(f, function (i, val) {
                            $("#" + val).prop('checked', true);
                        });
                    }
                    $('#hdneditServiceGroupName').val(response.GroupName);
                    $('#txteditServiceGroupName').val(response.GroupName);

                    $('#btnupdate').attr('data-id', response.GroupID);
                    $('#btnupdate').attr('data-privilege', d);

                },
                error: function (response) {
                    alert(response);
                }
            });

            $.ajax({
                type: "POST",
                url: '@Url.Action("EditMasterServicePG", "PrivilegeGroup")',
                data: '{"id":"' + gid + '"}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {

                    var d = response.CheckValue;
                    $(".MasterServiceEditCheck").prop('checked', false);
                    if (d != null || d != undefined) {
                        d = d.substring(0, d.length - 1)
                        var f = d.split(",");
                        jQuery.each(f, function (i, val) {
                            $("#" + val).prop('checked', true);
                        });
                    }
                    $('#btnupdate').attr('data-msexistingids', d);
                },
                error: function (response) {
                    alert(response);
                }
            });
        }

        function checkPrivilegeNameEdit() {
            var txtPrivilegeGroupName = $("#txteditServiceGroupName").val();
            var hdneditServiceGroupName = $("#hdneditServiceGroupName").val();

            if (txtPrivilegeGroupName == "") {
                $('#editErrorMsg').show();
                $('#editErrorMsg').text('Privilege Group Name cant be empty, Please enter Privilege Group Name !!');
                return false;
            }
            else {
                $('#editErrorMsg').hide();
                $('#editErrorMsg').text('');
            }
            if (hdneditServiceGroupName != txtPrivilegeGroupName) {
                $.ajax({
                    url: '@Url.Action("ValidatePrivilegeGroupName", "PrivilegeGroup")',
                    data: { strPrivilegeGroupName: txtPrivilegeGroupName },
                    cache: false,
                    type: "GET",
                    dataType: "html",
                    success: function (data) {
                        if (data != 0 && data > 0) {
                            $('#editErrorMsg').show();
                            //$("#btnadd").attr("disabled", true);
                            $('#editErrorMsg').text('Privilege Group Name already exist ! Please try with different Privilege Group Name !');
                            return true;
                        }
                        else {
                            $('#editErrorMsg').hide();
                            //$("#btnadd").attr("disabled", false);
                            $('#editErrorMsg').text('');
                            return true;
                        }
                    }
                });
            }
        }


        jQuery(document).ready(function ($) {
            $('#txteditServiceGroupName').keypress(function (e) {
                var regex = new RegExp("^[0-9a-zA-Z-]+$");
                var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);
                if (regex.test(str)) {
                    return true;
                }
                e.preventDefault();
                return false;
            });
        });

        $(document).ready(function () {
            $('#txteditServiceGroupName').keypress(function (e) {
                if (e.keyCode == 13)
                    $('#btnupdate').click();
            });
        });


        function UpdatePrivilegeGroup() {
            var txtPrivilegeGroupName = $('#txteditServiceGroupName').val();

            var txtEditGroupID = $('#btnupdate').attr('data-id');
            var Editprivilege = $('#btnupdate').attr('data-privilege');
            var hdneditServiceGroupName = $("#hdneditServiceGroupName").val();

            var msExistingIds = $('#btnupdate').attr('data-msexistingids');


            var checkedVals = $('.EditCheck:checkbox:checked').map(function () {
                return this.value;
            }).get();


            var masterServiceAddCheckVals = $('.MasterServiceEditCheck:checkbox:checked').map(function () {
                return this.value;
            }).get();

            if (txtPrivilegeGroupName == "") {
                $('#editErrorMsg').show();
                $('#editErrorMsg').text('Privilege Group Name cant be empty, Please enter Privilege Group Name !!');
                return false;
            }

            var chkbox = checkedVals.join(",");
            if (chkbox == null || chkbox == "") {
                $('#editErrorMsg').show();
                $('#editErrorMsg').text('Please check / select atleast one Privilege Level to create new  Privilege Group !!');
                $("#editErrorMsg").css("alert alert-danger");
                return false;
            }
            else {
                $('#editErrorMsg').hide();
                $('#editErrorMsg').text('');
                $("#editErrorMsg").css("alert alert-sucess");
            }

            var chkboxMS = masterServiceAddCheckVals.join(",");
            if (chkboxMS === null || chkboxMS === "") {
                $('#editErrorMsg').show();
                $('#editErrorMsg').text('Please check / select atleast one Master Service to create new  Privilege Group !!');
                $("#editErrorMsg").css("alert alert-danger");
                return false;
            }
            else {
                $('#editErrorMsg').hide();
                $('#editErrorMsg').text('');
                $("#editErrorMsg").css("alert alert-sucess");
            }

            //Check for duplicate Name
            if (hdneditServiceGroupName != txtPrivilegeGroupName) {

                $.ajax({
                    url: '@Url.Action("ValidatePrivilegeGroupName", "PrivilegeGroup")',
                    data: { strPrivilegeGroupName: txtPrivilegeGroupName },
                    cache: false,
                    type: "GET",
                    dataType: "html",
                    success: function (data) {
                        if (data != 0 && data > 0) {
                            $('#editErrorMsg').show();
                            $('#editErrorMsg').text('Privilege Group Name already exist ! Please try with different Privilege Group Name !');
                            return false;
                        }
                        else {
                            $('#editErrorMsg').hide();
                            $('#editErrorMsg').text('');

                            $.ajax({
                                type: "POST",
                                url: '@Url.Action("UpdatePrivilegeGroup", "PrivilegeGroup")',
                                data: '{"SGN":"' + txtPrivilegeGroupName + '","Checkval":"' + chkbox + '","GroupID":"' + txtEditGroupID + '","PrivilegesID":"' + Editprivilege + '","MasterServiceCheckval":"' + chkboxMS + '","msExistingIdsToDelete":"' + msExistingIds + '"}',
                                contentType: "application/json; charset=utf-8",
                                dataType: "json",
                                success: function (response) {
                                    document.getElementById('lightEdit').style.display = 'none';
                                    document.getElementById('fade').style.display = 'none'
                                    location.reload();
                                },
                                error: function (response) {
                                    //alert(response);
                                }
                            });

                            return true;
                        }
                    }
                });
            }
            else {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("UpdatePrivilegeGroup", "PrivilegeGroup")',
                    data: '{"SGN":"' + txtPrivilegeGroupName + '","Checkval":"' + chkbox + '","GroupID":"' + txtEditGroupID + '","PrivilegesID":"' + Editprivilege + '","MasterServiceCheckval":"' + chkboxMS + '","msExistingIdsToDelete":"' + msExistingIds + '"}',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        document.getElementById('lightEdit').style.display = 'none';
                        document.getElementById('fade').style.display = 'none'
                        location.reload();
                    },
                    error: function (response) {
                        //alert(response);
                    }
                });
            }
        }

        
    </script>
}
<div class="content-wrapper">
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-warning" style="margin: 0px;">
                    <div class="box-header with-border">
                        <h3 class="box-title">Privilege Group</h3>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-xs-3">
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-12 control-label" style="padding-top: 5px;">Group Name :</label>
                                </div>
                            </div>
                            <div class="col-xs-3">
                                <input type="text" id="txtSearchGroupName" name="txtSearchGroupName" class="form-control" maxlength="30" placeholder="Enter Group Name" />
                            </div>
                            <div class="col-xs-3">
                                <div class="form-group">
                                </div>
                            </div>
                            <div class="col-xs-3">
                            </div>
                        </div>
                    </div>

                    <div class="box-footer">
                        <button id="btngroupadd" onclick="document.getElementById('lightAdd').style.display = 'block'; document.getElementById('fade').style.display = 'block'" class="btn btn-success pull-left" style="margin-left: 20px;"><i class="fa fa-plus"></i><span class="btnSpace">Add New Privilege Group</span></button>
                       
                        <button id="btnSearch" class="btn btn-warning pull-right" style="margin-right: 20px;"><i class="fa fa-search"></i><span class="btnSpace">Search</span></button>
                        <span class="text-danger pull-right" id="searchErrorMsg" style="display:none;margin-right: 20px;margin-top:15px;"></span>
                    </div>


                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="box " style="border-top: 2px solid #05731c;min-height:400px;">
                    <div class="box-body">
                        <div id="PrivilegeGroupDetails">
                            @{
                                Html.RenderAction("PrivilegeGroupList", "PrivilegeGroup", new { sSearchGroupName = "", iAction = 1 });
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </section>
</div>

<div id="lightAdd" class="white_content">
    <div style="margin: 0px;">
        <div class="box-header with-border" style="border-bottom-color:green; border-bottom:dashed;border-width:2px;">
            <h3 class="box-title">Add New Privilege Group</h3>
            <img class="pull-right" src="~/content/Images/closepop.jpeg" style="cursor:pointer; height:30px; width:30px;margin-top:-5px;" onclick="document.getElementById('lightAdd').style.display = 'none'; document.getElementById('fade').style.display = 'none'" />
        </div>
        <div class="row" style="height:5px;"></div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="lblsgn" class="col-sm-12 control-label" style="padding-top: 5px;"><i class="fa fa-hand-o-right"></i>Privilege Group Name :</label>
                    </div>
                </div>
                <div class="col-md-8">
                    <input type="text" id="txtPrivilegeGroupName" onblur="return checkPrivilegeNameAdd();" name="txtPrivilegeGroupName" class="form-control" maxlength="30" />
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="lblFL" class="col-sm-12 control-label" style="padding-top: 5px;"><i class="fa fa-hand-o-right"></i>Check Privilege Level :</label>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="row" style="height:10px;"></div>
                    <div class="form-group" style="max-height:300px;overflow-y:scroll;border:dotted;">

                        @if (Model.lstServiceDefinition != null)
                        {
                            <ul>
                                @foreach (var item in Model.lstServiceDefinition.Distinct().ToList())
                                {
                                    <li>
                                        <span> @item.sServiceDescription</span>
                                        <ul>
                                            @{foreach (var mainnode in (Model.lstPrivilegeAvilable.Where(s => s.iServiceDefinitionID == item.iServiceDefinitionID && s.iParentID == null).ToList()))
                                                {
                                                    <li>
                                                        <span> @mainnode.sDescription</span>
                                                        <ul>
                                                            @{foreach (var firstChildNode in (Model.lstPrivilegeAvilable.Where(s => s.iServiceDefinitionID == item.iServiceDefinitionID && s.iParentID == mainnode.iPrivilegeID).ToList()))
                                                                {
                                                                    <li><input type="checkbox" class="AddCheck" value="@mainnode.iPrivilegeID,@firstChildNode.iPrivilegeID" /> <span> @firstChildNode.sDescription</span></li>
                                                                }
                                                            }
                                                        </ul>
                                                    </li>

                                                                }
                                            }
                                        </ul>
                                    </li>
                                                                }
                            </ul>
                                                                }

                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="lblFL" class="col-sm-12 control-label" style="padding-top: 5px;"><i class="fa fa-hand-o-right"></i>Assign Master Service :</label>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="row" style="height:10px;"></div>
                    <div class="form-group" style="max-height:200px;overflow-y:scroll;border:dotted;">


                        @if (Model.lstMasterServices != null)
                        {
                            <table>
                                <thead>
                                    <tr>
                                        <th></th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.lstMasterServices.Count;)
                                    {
                                        <tr>
                                            @for (int j = 0; j < 3; j++)
                                            {
                                                if (i < Model.lstMasterServices.Count)
                                                {
                                                    <td>
                                                        <ul>
                                                            <li>
                                                                <input type="checkbox" class="MasterServiceAddCheck" value="@Model.lstMasterServices[i].iServiceId" /> <span> @Model.lstMasterServices[i].sServiceName &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                                            </li>
                                                        </ul>
                                                    </td>
                                                }
                                                i++;
                                            }
                                        </tr>
                                    }
                                </tbody>
                            </table>

                            @*<ul >
                                    @{foreach (var item in Model.lstMasterServices.Distinct().ToList())
                                        {
                                            <li><input type="checkbox" class="MasterServiceAddCheck" value="@item.iServiceId" /> <span> @item.sServiceName</span></li>
                                        }
                                    }
                                </ul>*@
                        }

                    </div>
                </div>
            </div>

        </div>
        <div class="box-footer">
            <button id="btnclose" class="btn btn-danger pull-left" style="margin-left: 20px;" onclick="document.getElementById('lightAdd').style.display = 'none'; document.getElementById('fade').style.display = 'none'"><i class="fa fa-times"></i><span class="btnSpace">Cancel</span></button>
            <button id="btnadd" class="btn btn-success pull-right" style="margin-right: 20px;" disabled onclick="AddPrivilegeGroup()"><i class="fa fa-save"></i><span class="btnSpace">Save Privilege Group</span></button>
            <span class="text-danger pull-right" id="addErrorMsg" style="display:none;margin-right: 20px;margin-top:15px;"></span>

        </div>
    </div>
</div>

<div id="lightEdit" class="white_content">
    <div style="margin: 0px;">
        <div class="box-header with-border" style="border-bottom-color:green; border-bottom:dashed;border-width:2px;">
            <h3 class="box-title">Edit Privilege Group</h3>
            <img class="pull-right" src="~/content/Images/closepop.jpeg" style="cursor:pointer; height:30px; width:30px;margin-top:-5px;" onclick="document.getElementById('lightEdit').style.display = 'none'; document.getElementById('fade').style.display = 'none'" />
        </div>
        <div class="row" style="height:5px;"></div>
        <div class="box-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="lblsgn" class="col-sm-12 control-label" style="padding-top: 5px;"><i class="fa fa-hand-o-right"></i>Privilege Group Name :</label>
                    </div>
                </div>
                <div class="col-md-8">
                    <input type="hidden" id="hdneditServiceGroupName" name="hdneditServiceGroupName" />
                    <input type="text" id="txteditServiceGroupName" onblur="return checkPrivilegeNameEdit();" name="txteditServiceGroupName" class="form-control" maxlength="30" />
                </div>
            </div>


            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="lblFL" class="col-sm-12 control-label" style="padding-top: 5px;"><i class="fa fa-hand-o-right"></i>Check Privilege Level :</label>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="row" style="height:10px;"></div>
                    <div class="form-group" style="max-height:300px;overflow-y:scroll;border:dotted;">
                        @if (Model.lstServiceDefinition != null)
                        {
                            <ul>
                                @foreach (var item in Model.lstServiceDefinition.Distinct().ToList())
                                {
                                    <li>
                                        <span> @item.sServiceDescription</span>
                                        <ul>
                                            @{foreach (var mainnode in (Model.lstPrivilegeAvilable.Where(s => s.iServiceDefinitionID == item.iServiceDefinitionID && s.iParentID == null).ToList()))
                                                {
                                                    <li>
                                                        <span> @mainnode.sDescription</span>
                                                        <ul>
                                                            @{foreach (var firstChildNode in (Model.lstPrivilegeAvilable.Where(s => s.iServiceDefinitionID == item.iServiceDefinitionID && s.iParentID == mainnode.iPrivilegeID).ToList()))
                                                                {
                                                                    <li><input type="checkbox" class="EditCheck" id="@firstChildNode.iPrivilegeID" value="@mainnode.iPrivilegeID,@firstChildNode.iPrivilegeID" /> <span> @firstChildNode.sDescription</span></li>
                                                                }
                                                            }
                                                        </ul>
                                                    </li>
                                                                }
                                            }
                                        </ul>
                                    </li>
                                                                }
                            </ul>
                                                                }
                    </div>
                </div>
            </div>

            <div class="row" style="height:5px;"></div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="lblFL" class="col-sm-12 control-label" style="padding-top: 5px;"><i class="fa fa-hand-o-right"></i>Assign Master Service :</label>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="row" style="height:10px;"></div>
                    <div class="form-group" style="max-height:200px;overflow-y:scroll;border:dotted;">

                        @if (Model.lstMasterServices != null)
                        {
                            <table>
                                <thead>
                                    <tr>
                                        <th></th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int i = 0; i < Model.lstMasterServices.Count;)
                                    {
                                        <tr>
                                            @for (int j = 0; j < 3; j++)
                                            {
                                                if (i < Model.lstMasterServices.Count)
                                                {
                                                    <td>
                                                        <ul>
                                                            <li>
                                                                <input type="checkbox" class="MasterServiceEditCheck" id="@Model.lstMasterServices[i].iServiceId" value="@Model.lstMasterServices[i].iServiceId" /> <span> @Model.lstMasterServices[i].sServiceName &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                                            </li>
                                                        </ul>
                                                    </td>
                                                }
                                                i++;
                                            }
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }

                    </div>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <button id="btnclose" class="btn btn-danger pull-left" style="margin-left: 20px;" onclick="document.getElementById('lightEdit').style.display = 'none'; document.getElementById('fade').style.display = 'none'"><i class="fa fa-times"></i><span class="btnSpace">Cancel</span></button>
            <button id="btnupdate" class="btn btn-success pull-right" style="margin-right: 20px;" onclick="UpdatePrivilegeGroup()"><i class="fa fa-save"></i><span class="btnSpace">Save Privilege Group</span></button>
            <span class="text-danger pull-right" id="editErrorMsg" style="display:none;margin-right: 20px;margin-top:15px;"></span>
        </div>
    </div>
</div>























